<h1>History-index</h1>

<% @histories.each do |h| %>
    <p>id: <%= h.id %></p>
    <p>title: <%= link_to h.title, history_path(h) %></p>
  <small>
    <%= link_to 'удалить', history_path(h), method: :delete  %>
    <%= link_to 'изменить', edit_history_path(h)  %>
  </small>
    <p>body: <%= h.body.html_safe %></p>
  <% if h.image.present? %>
    <%= image_tag h.image.variant(resize: "100x100") %><!-- для ActivaStorage -->
  <%end %>
    <p>source<%= h.source %></p>
    <hr>
<%end %>