<h1>show</h1>

<p>user: <%= @post.user.name %></p>
<p>title: <%= @post.title %></p>
<p>body: <%= @post.body.html_safe %></p><!-- .html_safe - для trix-->
<%# if @post.image.present? %>
  <%#= image_tag @post.image.variant(resize: "200x200") %>
<%#end %>

<% if user_signed_in? %>
  <% if current_user.active? %>
   <%= render 'comments/form' %>
  <%end %>
<%end %>

<h3 >Комментарии <%= @post.comments.count %></h3>
<div>
  <% @post.comments.each do |cmt| %>
    <%= render 'comments/comment', comment: cmt %>
  <%end %>
</div>